@import "./stylesheet";

/* font-family: 'Montserrat-Bold'; */
/* font-family: 'Montserrat-Semibold'; */
/* font-family: 'Montserrat-Medium'; */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 15px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("./images/image 20.png") no-repeat;
}

.header__nav{
    width: 90%;
    height: 200px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav_list{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.header__nav_list-link{
    font-family: 'Montserrat-Medium';
    color: #313131;
    font-weight: 500;
    font-size: 40px;
}

.header__content{
    margin-top: 165px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    justify-content: right;
    align-items: flex-start;
    padding-left: 82px;
}

.header__content_preTitle{
    font-family: 'Montserrat-Bold';
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-left: 405px;
}

.header__content_Title{
    font-family: 'Montserrat-Bold';
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
}

.line{
    width: 30%;
    background: #fff;
    height: 5px;
    margin-left: 150px;
}

.header__content_text{
    font-family: 'Montserrat-Semibold';
    font-weight: 600;
    color: #fff;
    font-size: 50px;
    width: 45%;
    margin-top: 75px;
}

.header__foot{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 250px;
}

.header__foot_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.header__foot_box-link{
    font-family: 'Montserrat-Bold';
    color: #fff;
    font-size: 39px;
    text-align: center;
    font-weight: 700;
    transform: translateY(50px);
}

.main{
    background: url("./images/image 21.png") no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    padding-left: 82px;
    width: 90%;
    height: 100vh;
}

.about__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-title{
    margin-left: 540px;
}

.about__content_info-text{
    width: 70%;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Montserrat-Semibold';
    margin-top: 50px;
}

.about_image{
    width: 400px;
    height: 400px;
    transform: translateX(-100px);
}

.about__content_slide{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.about__content_slide-image{
    border-radius: 35px;
    width: 400px;
}

.footer{
    width: 100%;
    background: linear-gradient(92.55deg, #000000 -21.71%, rgba(0, 0, 0, 0) 146.08%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 265px;
}

.footer__content{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__content_box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
}

.footer__conetnt_titles{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__content_box-image{
    width: 180px;
    height: 180px;
    border-radius: 67px;    
}

.footerTitle{
    font-size: 80px;
    margin-left: 40px;
}

.footerPreTitle{
    font-family: 'Montserrat-Bold';
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-left: 40px;
}